<div class="jumbotron">
  <h2><%= gettext "Welcome to the %{name}", name: "Electoral College Rollcall" %></h2>
  <p class="lead">2016 POTUS Electoral College Electors status and contact information.</p>
</div>
